---
import GameCard from "@/components/Steam/GameCard.astro";
import Main from "@/layouts/Main.astro";
import SteamworksLogo from "@/assets/icons/steamworks.svg";
import { steam } from "@/actions/steam";
import Card from "@/components/Card.astro";

const { data: games, error } = await Astro.callAction(steam.getGames, {});

if (error) {
	return Astro.redirect("/500?error=ACTION_ERROR");
}
---

<Main title="My Steam Games">
	<div class="heading rflex">
		<h1>My Steam Games</h1>
		<div class="disclaimer rflex">
			<span>powered by</span>
			<a href="https://partner.steamgames.com/" target="_blank">
				<SteamworksLogo class="steamworks-logo" />
			</a>
		</div>
	</div>
	<div class="games rflex">
		{games?.sort((a, b) => b.playtime_forever - a.playtime_forever).map(async (game) => (
			<Card width={256}>
				<GameCard game={game} />
			</Card>
		))}
	</div>
</Main>

<style>
	.games {
		flex-wrap: wrap;
		gap: var(--size-l);
		justify-content: center;
	}

	.heading {
		justify-content: space-between;
		align-items: center;
		margin-bottom: var(--size-xl);
		flex-wrap: wrap;
		gap: var(--size-xs);
	}

	h1 {
		margin: 0;
	}

	.disclaimer {
		align-items: flex-end;
		gap: var(--size-s);
	}

	.disclaimer span {
		text-wrap: nowrap;
	}

	.disclaimer a {
		display: flex;
	}

	.disclaimer a:hover .steamworks-logo {
		stroke: var(--text);
		fill: var(--text);
	}

	.steamworks-logo {
		height: 36px;
		width: auto;
		stroke-width: 0;
		fill: var(--text-muted);
		transition: 150ms all ease;
	}
</style>
