@font-face {
	font-family: InclusiveSans;
	src: url('/fonts/InclusiveSans-VariableFont_wght.ttf') format("truetype");
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
}

:root {
	/* Colors */
	--bg-light: oklch(21% 1% 240);
	--bg: oklch(18% 1% 240);
	--bg-dark: oklch(15% 1% 240);

	--primary: oklch(45% 50% 30);
	--secondary: ;

	--bg-primary: oklch(45% 50% 30 / 0.1);

	--text: oklch(95% 1% 240);
	--text-muted: oklch(75% 1% 240);

	--border: oklch(40% 1% 240);
	--border-muted: oklch(30% 1% 240);

	--highlight: oklch(85% 1% 240);

	--gradient: linear-gradient(0deg, var(--text) 80%, var(--primary) 20%);

	--br-soft: .25rem;
	--br-hard: .5rem;

	--danger: oklch(60% 50% 30);
	--warning: oklch(85% 50% 85);
	--success: oklch(60% 50% 150);
	--info: oklch(60% 50% 250);

	/* Sizes */
	--navbar-height: 96px;
}

* {
	font-family: 'InclusiveSans', sans-serif;
	color: var(--text-muted);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--text);
}

h2 {
	margin-bottom: var(--size-m);
}

svg, img {
	user-select: none;
}

svg {
	stroke: var(--text-muted);
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.rflex {
	display: flex;
	flex-direction: row;
}

.cflex {
	display: flex;
	flex-direction: column;
}

.skeleton {
	animation: skeleton-pulse 1s linear infinite alternate;
	opacity: .7;
	border-radius: var(--br-soft);
}

.skeleton-text {
	width: 100%;
	height: 1em;
}

.skeleton-text:last-child {
	width: 80%;
}

@keyframes skeleton-pulse {
	from {
		background-color: oklch(35% 1% 240 / 0.5);
	}
	to {
		background-color: oklch(50% 1% 240 / 0.5);
	}
}
