---
import Main from "@/layouts/Main.astro";

const searchParams = Astro.url.searchParams;
const error = searchParams.get("error");
---

<Main title="404">
	<div class="content cflex">
		<h1>Page not found</h1>
		<p>The page you requested does not exist.</p>
		<br>
		{error && (
			<span>Error: {searchParams.get("error")}</span>
		)}
	</div>
</Main>

<style>
	.content {
		align-self: center;
		align-items: center;
	}
</style>
