---
import Main from "@/layouts/Main.astro";

const searchParams = Astro.url.searchParams;
const error = searchParams.get("error");
---

<Main title="500">
	<div class="content cflex">
		<h1>Server Error</h1>
		<p>Rendering the page you requested resulted in a server error.</p>
		<br>
		{error && (
			<span>Error: {searchParams.get("error")}</span>
		)}
	</div>
</Main>

<style>
	.content {
		align-self: center;
		align-items: center;
	}
</style>
