---
import Main from "@/layouts/Main.astro";
import WebringBadge from "astro-webrings/badge";
import SongDisplay from "@/components/SongDisplay/SongDisplay.astro";
import SongDisplaySkeleton from "@/components/SongDisplay/SongDisplaySkeleton.astro";
import Card from "@/components/Card.astro";
---

<Main title="Dominic Brauer">
	<section class="grid-area cflex">
		<Card width={256}>
			<SongDisplay server:defer>
				<SongDisplaySkeleton slot="fallback" />
			</SongDisplay>
		</Card>
		<Card width={256} heading="Webrings">
			<div class="webrings rflex">
				<WebringBadge site="dominicbrauer.dev" ring="built-with-astro" />
				<WebringBadge
					site="dominicbrauer.dev"
					ring="friends-of-houston"
					animated
				/>
			</div>
		</Card>
	</section>
</Main>

<style>
	.hero {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 8rem;
		margin-bottom: var(--size-xl);
	}

	.grid-area {
		gap: var(--size-l);
		align-items: center;
	}

	.webrings {
		gap: var(--size-m);
		align-items: center;
		justify-content: space-between;
	}
</style>
