---
type Props = {
	width?: number;
	heading?: string;
}

const { width, heading } = Astro.props;
---

<div class="card cflex" style={`width: ${width ? `${width}px` : "auto"};`}>
	{heading && (
		<h2>{heading}</h2>
	)}
	<slot />
</div>

<style>
	.card {
		border: 1px solid var(--border);
		background-color: var(--bg);
		padding: var(--size-l);
	}
</style>
