---

---

<div class="song-display cflex">
	<div class="song-cover skeleton"></div>
	<div class="song-information-wrapper cflex">
		<div class="song-title skeleton skeleton-text"></div>
		<div class="entry skeleton skeleton-text"></div>
		<div class="entry skeleton skeleton-text"></div>
		<div class="entry skeleton skeleton-text"></div>
	</div>
</div>

<style>
	.song-display {
		gap: var(--size-m);
	}

	.song-cover {
		aspect-ratio: 1 / 1;
		width: 100%;
		height: auto;
	}

	.song-information-wrapper {
		width: 100%;
		gap: var(--size-s);
	}

	.song-title {
		width: 60%;
		height: 2em;
	}

	.entry {
		height: 1.5em;
	}
</style>
