---
import Footer from "@/components/Footer.astro";
import NavBar from "@/components/NavBar.astro";
import ProfilePicture from "@/assets/images/profile.webp";
import "@/styles/global.css";
import "@/styles/sizing.css";

type Props = {
	title: string;
}

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content={title}>
		<meta property="og:description" content="My personal portfolio website.">
		<meta property="og:image" content={ProfilePicture.src}>
		<meta property="og:url" content="https://dominicbrauer.dev">
		<title>{title}</title>
		<script
			src="https://rybbit.dominicbrauer.dev/api/script.js"
			data-site-id="322a6b9d53c0"
			defer
			is:inline
		/>
	</head>
	<body class="cflex">
		<NavBar />
		<main class="cflex">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	body {
		min-height: 100dvh;
		background-color: var(--bg-dark);
	}

	main {
		padding:
			calc(var(--navbar-height) + var(--size-xl))
			var(--size-l)
			var(--size-xl)
			var(--size-l);
		max-width: 1200px;
		width: 100%;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		flex-grow: 1;
	}
</style>
